@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page{
	padding-top: 6%;
}
.form-box
{
    width:400px;
	height:500px;
	position:relative;
	margin:auto;
	background:rgba(0, 0, 0, 0.7);
	padding:2px;
    overflow: hidden;

}
.button-box
{
	width:380px;
	margin:35px auto;
	position:relative;
	box-shadow: 15px 11px 20px 11px #e8e8e91f;
	border-radius: 30px;
	font-family: "lato";
}
.toggle-btn
{
	padding:15px 36px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
	font-size: 17px;
	color: white;
	font-family: "lato";
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #000000;
	border: 3px solid #05ad46;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	left: auto;
	right:auto;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-admin
{
    top: 150px;
	position:absolute;
	width:280px;
	left: auto;
	right:auto;
	transition:.5s;
}
::placeholder{
	color: aliceblue;
	opacity: 1;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid rgb(241, 239, 239);
	outline:none;
	letter-spacing: 1px;
	background: transparent;
	color: aliceblue;
}
.submit-btn
{
	width: 80%;
	padding: 10px 23px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #05ad46;
	border: 0;
	color: #eeeaea;
	outline: none;
	font-size: 18px;
	font-family: "lato";
}
.submit-btn:hover{
	background: #111111;
	color: #fafafa;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:rgb(255, 253, 253);
	font-size:14px;
	bottom:73px;
	font-family: Arial, Helvetica, sans-serif;
	position:absolute;
	letter-spacing: 1px;
	font-family: "lato";
}
#login
{
	left:50px;
}
#login input
{
	color:rgb(253, 252, 252);
	font-size:17;
	font-family: "lato";
}

#register
{
	left:450px;
}
#register input
{
	color:rgb(243, 239, 239);
	font-size: 17;
	font-family: "lato";
}
#admin
{
	left:900px;
}
#admin input
{
	color:rgb(253, 252, 252);
	font-size:17;
	font-family: "lato";
}
.container_logo{
	position: absolute;
	top: 15%;
	left: 4%;
	transform: translate(-5%,-5%);
	width: 50%;
  }
  .container_logo span{
	text-transform: uppercase;
	display: block;
  }
  .text1{
	color: rgb(12, 11, 11);
	font-size: 52px;
	font-weight: 700;
	letter-spacing: 3px;
	margin-bottom: 100px;
	position: relative;
	animation: text 3s 1;
  }
  .text2{
	font-size: 22px;
	color: #fafafa;
	margin-bottom: 60px;
	background-color: #03702d;
	border-bottom-right-radius: 30px;
	padding: 1%;
  }
  
  @keyframes text {
	0%{
	  color: black;
	  margin-bottom: -40px;
	}
	30%{
	  letter-spacing: 25px;
	  margin-bottom: -40px;
	}
	85%{
	  letter-spacing: 8px;
	  margin-bottom: -40px;
	}
  }

  @media  screen and (max-width:868px) {
	.container_logo {
		position: absolute;
		top: 16%;
		left: 4%;
		transform: translate(-5%,-5%);
		width: 100%;
		text-align: center;
	}
	.text1{
		color: rgb(12, 11, 11);
		font-size: 43px;
		font-weight: 700;
		letter-spacing: 3px;
		margin-bottom: 90px;
		position: relative;
		width: 100%;
	  }
  }