@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
.header-product {
  height: 90vh;
  width: 100%;
  padding-top: 1%;
  background-image: url(../image/bg-product2.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.header-product2{
  height: 90vh;
  width: 100%;
  padding-top: 1%;
  background-image: url(../image/bp-product3.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.product-img{
  width: 100%;
}
.product-img2{
  width: 100%;
}
.product-img img{
  width: 400px;
  height: 350px;
  align-items: center;
  margin-left: 35%;
  margin-top: 55px;
}
* {
  margin: 0;
  padding: 0;
  font-family: inherit; 
}

  .main-product {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
    flex-wrap: wrap;
}

.card {
  position: relative;
  width: 420px;
  height: 480px;
  background: #41486afc;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden; }

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform: skewY(345deg);
  transition: 0.5s; }

.card:hover::before {
  top: -70%;
  transform: skewY(390deg); }

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1); }

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1; }


.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2; }

.card .contentBox h3 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: inherit;
 }

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px; }

.btn-product{
  display: flex;
}
.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
  background: #f7f6f5;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s; }

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}
.product{
  text-align: center;
}
.product h1{
  font-size: 25px;
  margin: 10px;
  letter-spacing: 1px;
  color: #000000;
  background-color: #faf9f9;
  font-family: inherit;
  width: 50%;
  text-transform: uppercase;
  
}
